<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>User Login</h1>
  </header>

  <main>
    <form action="/user/login" method="post">
      Email:
      <input type="text" name="email">
      <br><br>
      Password:
      <input type="text" name="password">
      <br><br>
      <input type="submit" value="Login">
    </form>
  </main>
</body>

</html>