<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Add Student</h1>
  </header>

  <main>
    <form action="/student/create" method="post">
      Name:
      <input type="text" name="name">
      <br><br>
      Email:
      <input type="text" name="email">
      <br><br>
      Password:
      <input type="text" name="password">
      <br><br>
      Contact:
      <input type="text" name="contact">
      <br><br>
      <input type="submit" value="Add">
    </form>
  </main>
</body>

</html>